:root {
  --theme-color-1: #F6561E;
  --theme-color-2: #20c0f3;
  --theme-color-3: #20c0f3;
  --theme-color-4: #D41989;
  --theme-color-5: #EA1EF6;
  
  --hisalud-5: rgba(246,86,30,1);
  --hisalud-4: rgba(212,47,25,1);
  --hisalud-3: rgba(235,41,62,1);
  --hisalud-2: rgba(212,25,137,1);
  --hisalud-1: rgba(234,30,246,1);
  
  --theme-color-1-80: rgba(246,86,30,0.8);
  --theme-color-2-80: rgba(212,47,25,0.8);
  --theme-color-3-80: rgba(235,41,62,0.8);
  --theme-color-4-80: rgba(212,25,137,0.8);
  --theme-color-5-80: rgba(234,30,246,0.8);
  --theme-color-1-60: rgba(246,86,30,0.6);
  --theme-color-2-60: rgba(212,47,25,0.6);
  --theme-color-3-60: rgba(235,41,62,0.6);
  --theme-color-4-60: rgba(212,25,137,0.6);
  --theme-color-5-60: rgba(234,30,246,0.6);
  --theme-color-1-40: rgba(246,86,30,0.4);
  --theme-color-2-40: rgba(212,47,25,0.4);
  --theme-color-3-40: rgba(235,41,62,0.4);
  --theme-color-4-40: rgba(212,25,137,0.4);
  --theme-color-5-40: rgba(234,30,246,0.4);
  --theme-color-1-20: rgba(246,86,30,0.2);
  --theme-color-2-20: rgba(212,47,25,0.2);
  --theme-color-3-20: rgba(235,41,62,0.2);
  --theme-color-4-20: rgba(212,25,137,0.2);
  --theme-color-5-20: rgba(234,30,246,0.2);
}
body[data-route="hisalud-dashboard"] .pacientesAnt{
  border-top: 5px solid var(--theme-color-1) !important;
 }
body[data-route="hisalud-dashboard"] .pacientes{    
  margin-top: 20px!important
 }
body[data-route="hisalud-dashboard"] .pacients{
  background-color:#222;
  margin: -16px;
  display: grid;
  grid-template-areas: "menu menu2";
  margin-bottom: 20px;
}
.dropdown-help{
  display:none!important;
}
body[data-route="hisalud-dashboard"] .col-md-2.horaDisp span {
    background: #efefef;
    color: #666;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    display: block;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
body[data-route="hisalud-dashboard"] .col-md-2.horaDisp span:hover {
    color: white;
    background: #212121;
}
body[data-route="hisalud-dashboard"] .col-md-2.horaDisp span.selected {
    color: white;
    background: linear-gradient(to right, rgb(225 28 199) 0%, rgba(234,30,246,1) 100%);
}
body[data-route="hisalud-dashboard"] .pacients.horario{
  background-color:#222;
  margin: -16px;
  display: grid;
  grid-template-areas: "menu menu2 menu3 menu4 menu5 menu6 menu7";
  margin-bottom: 20px;
}
body[data-route="hisalud-dashboard"] .pacients>li{
  text-align: center;
}
body[data-route="hisalud-dashboard"] .pacients>li>a{
  font-size: 12pt;
  color: #999;
  border: none;
  border-radius: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0;
}
body[data-route="hisalud-dashboard"] .pacients>li.active>a, 
body[data-route="hisalud-dashboard"] .pacients>li.active>a:focus,
body[data-route="hisalud-dashboard"] .pacients>li.active>a:hover,
body[data-route="hisalud-dashboard"] .pacients>li>a:active,
body[data-route="hisalud-dashboard"] .pacients>li>a:hover,
body[data-route="hisalud-dashboard"] .pacients>li>a:focus,
body[data-route="hisalud-dashboard"] .pacients>li.active,
body[data-route="hisalud-dashboard"] .pacients> li.active:hover{
  background-color: rgba(255,255,255,0.1)!important;  
  color: white!important;
  border: none!important;
  border-radius: 0!important;
}
body[data-route="hisalud-dashboard"] .menu:hover{
  cursor:pointer;
}
body[data-route="hisalud-dashboard"] .col-xs-2.menu:hover{
  background-color: rgba(255,255,255,0.03)!important;  
}
body[data-route="hisalud-dashboard"] .col-xs-2.hsalud1.menu:hover,body[data-route="hisalud-dashboard"] .col-xs-2.hsalud1.menu.active{
  color: var(--hisalud-1);  
}
body[data-route="hisalud-dashboard"] .col-xs-2.hsalud2.menu:hover,body[data-route="hisalud-dashboard"] .col-xs-2.hsalud2.menu.active{
  color: var(--hisalud-2);  
}
body[data-route="hisalud-dashboard"] .col-xs-2.hsalud3.menu:hover,body[data-route="hisalud-dashboard"] .col-xs-2.hsalud3.menu.active{
  color: var(--hisalud-3);  
}
body[data-route="hisalud-dashboard"] .col-xs-2.hsalud4.menu:hover,body[data-route="hisalud-dashboard"] .col-xs-2.hsalud4.menu.active{
  color: var(--hisalud-4);  
}
body[data-route="hisalud-dashboard"] .col-xs-2.hsalud5.menu:hover,body[data-route="hisalud-dashboard"] .col-xs-2.hsalud5.menu.active{
  color: var(--hisalud-5);  
}
body[data-route="hisalud-dashboard"] .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin:7px;
}

body[data-route="hisalud-dashboard"] .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

body[data-route="hisalud-dashboard"] img {
  border-radius: 5px 5px 0 0;
}
body[data-route="hisalud-dashboard"] .card .card-body .full-name{    
    font-size: 2rem;
    font-weight: 600;
    vertical-align: top;
}
body[data-route="hisalud-dashboard"] .card .card-body .thumb{    
    max-height: 70px;
    display: inline-block;
}
body[data-route="hisalud-dashboard"] .card .card-body .person-card,
body[data-route="hisalud-dashboard"] .card .card-body .profile{
    display:flex;
}
body[data-route="hisalud-dashboard"] .card .card-body .person-card .card-content{
    padding-left:10px;
}
body[data-route="hisalud-dashboard"] .card.pacientes{
    border-top: 5px solid var(--theme-color-2);
}
body[data-route="hisalud-dashboard"] .card-body {
  padding: 16px;
}
body[data-route="hisalud-dashboard"] .menu ul li{
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
body[data-route="hisalud-dashboard"] .btn-more{
    margin-top: 20px;
}
body[data-route="hisalud-dashboard"] .btn-less{
    margin-top: 20px;
}
body[data-route="hisalud-dashboard"] .cabecera-medico{
     background-color: #212121;
     color: white;
}
body[data-route="hisalud-dashboard"] .saldo-medico{
    text-align: right;
    padding-right: 50px;
}
body[data-route="hisalud-dashboard"] .menu ul{
    list-style: none;
    padding: 0;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top: 5px solid var(--theme-color-4);
    border-radius: 5px;
}
body[data-route="hisalud-dashboard"] .ini-page{
    margin-top:15px;
}
body[data-route="hisalud-dashboard"] .medico-full-name{
    font-size: 4rem;
}
body[data-route="hisalud-dashboard"] .img-profile{
    max-height: 15rem;
    border-radius: 50%;
    border: 7px solid white;
}
body[data-route="hisalud-dashboard"] .profile-content{
    padding-left: 30px;
}
body[data-route="hisalud-dashboard"] .card-head-bg{
    position: absolute;
    filter: blur(50px);
    z-index: -1;
    opacity: 0.5;
    margin: -16px;
    overflow: hidden;
    margin-bottom: 0;
}
body[data-route="hisalud-dashboard"] .card-head.descripcion{
    position: relative;
    overflow: hidden;
    margin: -16px;
    margin-bottom: 0;
    padding: 16px;
    border-bottom: 5px solid var(--fc-button-bg-color,#2C3E50);
}
body[data-route="hisalud-dashboard"] .card-html{
    padding-top: 15px;

}
body[data-route="hisalud-dashboard"] span.bag-especialidad {
    background-color: var(--theme-color-1);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    color: white;
}
body[data-route="hisalud-dashboard"] .menu.bordered-menu{
    border-right: 1px solid white;
}
body[data-route="hisalud-dashboard"] .textarea-html{
    background: white !important;
    border: none !important;
    cursor: auto !important;
    padding: 0 !important;
    color: inherit !important;
    font-size: inherit !important;
    font-family: inherit !important;
}
body[data-route="hisalud-dashboard"] #bigbluebutton {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    padding-top: 20px;
}
body[data-route="hisalud-dashboard"] #cita-tabss{
    height: calc(100vh - 40px);
}
body[data-route="hisalud-dashboard"] .datepickers-container{
        z-index: 9999992!important;
}
body[data-route="hisalud-dashboard"] .modal.fade.in {
        z-index: 9999992!important;
}





/***********************************************/




  body[data-route="hisalud-dashboard"]{
    background:#efefef;
  }
  body[data-route="hisalud-dashboard"] .img-profile {
    max-height: 10rem;
    border-radius: 5px;
    border:none;
}
  
body[data-route="hisalud-dashboard"] .col-xs-2.menu {
    width: 100px;
    max-width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
    padding-right: 10px;
}
body[data-route="hisalud-dashboard"] .col-xs-2.menu i{
    display: block;
    font-size: 30px;
    padding-bottom: 10px;
}
body[data-route="hisalud-dashboard"] .navbar.navbar-default.navbar-fixed-top {
  display: none;
}
body[data-route="hisalud-dashboard"] .card {
  background:#ffffff;
}
div#page-hisalud-dashboard {
  margin-top: 0;
  background: url(/assets/telemedicina/web/images/pages/about/about.png) repeat scroll 0 0 #efefef;
}

body[data-route="hisalud-dashboard"] .medico-full-name {
  font-size: 19pt !important;
  margin-bottom: 3px !important;
}
body[data-route="hisalud-dashboard"]  .h3, h3 {
font-size: 12pt !important;
}
body[data-route="hisalud-dashboard"] .h1, h1 {
          font-size: 19pt !important;
}
body[data-route="hisalud-dashboard"] .navbar.navbar-default.navbar-fixed-top{
background: transparent;
border: none;
z-index: 999999;
display: flex;
width: auto;
position: absolute;
max-width: 2px!important;
overflow-y: hidden;
overflow-x: hidden;
}
body[data-route="hisalud-dashboard"] form.navbar-form.navbar-right[role="search"],
body[data-route="hisalud-dashboard"] a.navbar-search-button {
  display: none;
}
body[data-route="hisalud-dashboard"]  .navbar-header.navbar-desk {
  display: none;
}
body[data-route="hisalud-dashboard"] i.octicon.octicon-comment-discussion {
  color: white!important;
  font-size: 35px;
}
body[data-route="hisalud-dashboard"] button.btn.btn-sm.btn-default.btn-action[icon="octicon octicon-screen-full"] {
  display: none;
}
body[data-route="hisalud-dashboard"] .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: #323232!important;
}
body[data-route="hisalud-dashboard"] input.form-control.input-sm{
width: 100%;
}
body[data-route="hisalud-dashboard"] button.btn.btn-sm.btn-default.btn-action[label="Nuevo"]{
width: 100%;
}
body[data-route="hisalud-dashboard"] button.btn.btn-sm.btn-default.btn-action[label="Nuevo"] {
  display: none;
}
body[data-route="hisalud-dashboard"] .frappe-chat-action-bar.level {
width: 100%;
}
body[data-route="hisalud-dashboard"] .dropdown-toggle.frappe-chat-toggle{
z-index: 100000000000;
display: block;
position: fixed;
border: 0;
bottom: 0;
box-sizing: unset;
width: 60px;
height: 50px;
padding: 0;
background-color: #212121;
border-radius: 50%;
padding-top: 10px;
margin-bottom: 20px;
left: unset;
right: 30px;
}
