{% extends "templates/pageweb.html" %}

{% block title %}{{ _("Home") }}{% endblock %}
{% block page_content %}
     <style>
         .btoleft{
             margin-left:300px;
         }
         .bannercontainer .main_slider li .para {
            font-size: 30px!important;
         }
     </style>
    <section class="row quick_blocks_row quick_blocks_row_home2">
        <div class="container">
            <div class="row">
                {% for quick_block in quick_blocks.section_cards %}
                {% if loop.index == 1 %}
                <div class="col-sm-4 quick_block emmergency">
                    <div class="row m0 inner">
                        <div class="row heading m0">
                            <h5>{{ quick_block.subtitle }}</h5>
                            <h3>{{ quick_block.title }}</h3>
                        </div>
                        <p>{{ quick_block.content }}</p>
                        {% if quick_block.route != None and quick_block.route != "" %}
                        <a href="{{ quick_block.route }}">Descarga la app</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if loop.index == 2 %}
                <div class="col-sm-4 quick_block branches">
                    <div class="row m0 inner">
                        <div class="row heading m0">
                            <h5>{{ quick_block.subtitle }}</h5>
                            <h3>{{ quick_block.title }}</h3>
                        </div>
                        <p>{{ quick_block.content }}</p>
                        {% if quick_block.route != None and quick_block.route != "" %}
                        <a href="{{ quick_block.route }}">Descarga la app</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if loop.index == 3 %}
                <div class="col-sm-4 quick_block bill_payments">
                    <div class="row m0 inner">
                        <div class="row heading m0">
                            <h5>{{ quick_block.subtitle }}</h5>
                            <h3>{{ quick_block.title }}</h3>
                        </div>
                        <p>{{ quick_block.content }}</p>
                        {% if quick_block.route != None and quick_block.route != "" %}
                        <a href="{{ quick_block.route }}">Descarga la app</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                    
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="row team_section bgf">
        <div class="container">
            <div class="row" style="padding-bottom:50px;">
                <div class="col-sm-4 col-md-3 team_menu">
                    <div class="row titleRow text-left">
                        <h5>DESCUBRE LA APP</h5>
                        <h2>DESCUBRE HISALUD</h2>
                    </div>
                    <div class="row">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            {% for child in hisalud %}
                            {% if loop.index == 1 %}
                            <li role="presentation" class="active media">
                                <a href="/assets/telemedicina/web/#app{{ loop.index }}" aria-controls="app{{ loop.index }}" role="tab" data-toggle="tab">
                                    <div class="media-body media-middle">
                                        <h5>{{ child.title }}</h5>
                                        <div class="row designation">{{ child.subtitle }}</div>
                                    </div>
                                </a>
                            </li>
                            {% else %}
                            <li role="presentation" class="media">
                                <a href="/assets/telemedicina/web/#app{{ loop.index }}" aria-controls="app{{ loop.index }}" role="tab" data-toggle="tab">
                                    <div class="media-body media-middle">
                                        <h5>{{ child.title }}</h5>
                                        <div class="row designation">{{ child.subtitle }}</div>
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <style>
                    .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 550px;
    margin: auto;
}
                </style>
               <div class="col-sm-8 col-md-9 team_descss">
                    <div class="row">
                        <div class="tab-content">
                            {% for child in hisalud %}
                            {% if loop.index == 1 %}
                            <div role="tabpanel" class="tab-pane media active" id="app{{ loop.index }}">
                                <div class="media-left media-bottom">
                                    <a href="javascript:void(0)"><img src="{{ child.image }}" alt="" class="img-responsive"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row titleRow text-left">
                                        <h2>{{ child.title }}</h2>
                                        <h5>{{ child.subtitle }}</h5>
                                    </div>
                                    <p>{{ child.content }}</p>
                                    {% if child.route != None and child.route != "" %}
                                    <a href="{{ child.route }}" class="view_all">Descarga la app</a>
                                    {% endif %}
                                </div>
                            </div><!-- Doctor about-->
                            {% else %}
                            <div role="tabpanel" class="tab-pane media" id="app{{ loop.index }}">
                                <div class="media-left media-bottom">
                                    <a href="javascript:void(0)"><img src="{{ child.image }}" alt="" class="img-responsive"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row titleRow text-left">
                                        <h2>{{ child.title }}</h2>
                                        <h5>{{ child.subtitle }}</h5>
                                    </div>
                                    <p>{{ child.content }}</p>
                                    {% if child.route != None and child.route != "" %}
                                    <a href="{{ child.route }}" class="view_all">Descarga la app</a>
                                    {% endif %}
                                </div>
                            </div><!-- Doctor about-->
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--
    <section class="row recentpost_acc contentRowPad">
        <div class="container">           
            <div class="row m0 titleRow">
                <h5>recent posts</h5>
                <h2>from our blog</h2>
            </div>
            <div class="row recent_post_home recent_post_home3">
                <div class="col-sm-12 col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="/assets/telemedicina/web/single-post.html"><img src="/assets/telemedicina/web/images/blog/1.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="media-body">
                            <a href="/assets/telemedicina/web/single-post.html"><h4>We are having new department added to us</h4></a>
                            <div class="row m0 meta">By : <a href="/assets/telemedicina/web/#">John Doe</a> &nbsp; on : <a href="/assets/telemedicina/web/#">29th June 2015</a></div>
                            <p>Lorem ipsum dolor sit amet, conseings ctetur adipiscing elit. </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="/assets/telemedicina/web/single-post.html"><img src="/assets/telemedicina/web/images/blog/1.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="media-body">
                            <a href="/assets/telemedicina/web/single-post.html"><h4>We are having new department added to us</h4></a>
                            <div class="row m0 meta">By : <a href="/assets/telemedicina/web/#">John Doe</a> &nbsp; on : <a href="/assets/telemedicina/web/#">29th June 2015</a></div>
                            <p>Lorem ipsum dolor sit amet, conseings ctetur adipiscing elit. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="/assets/telemedicina/web/single-post.html"><img src="/assets/telemedicina/web/images/blog/1.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="media-body">
                            <a href="/assets/telemedicina/web/single-post.html"><h4>We are having new department added to us</h4></a>
                            <div class="row m0 meta">By : <a href="/assets/telemedicina/web/#">John Doe</a> &nbsp; on : <a href="/assets/telemedicina/web/#">29th June 2015</a></div>
                            <p>Lorem ipsum dolor sit amet, conseings ctetur adipiscing elit. </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="/assets/telemedicina/web/single-post.html"><img src="/assets/telemedicina/web/images/blog/1.jpg" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="media-body">
                            <a href="/assets/telemedicina/web/single-post.html"><h4>We are having new department added to us</h4></a>
                            <div class="row m0 meta">By : <a href="/assets/telemedicina/web/#">John Doe</a> &nbsp; on : <a href="/assets/telemedicina/web/#">29th June 2015</a></div>
                            <p>Lorem ipsum dolor sit amet, conseings ctetur adipiscing elit. </p>
                        </div>
                    </div>
                </div>
                <a href="/assets/telemedicina/web/blog.html" class="view_all">view all posts</a>
             </div>
         </div>
    </section>  -->
    <section class="row about_medicalpro_row">
        <div class="container">
            <div class="row titleRow">
                <h5>Descubre el área de trabajo</h5>
                <h2>Panel del profesional de salud</h2>
            </div>
            <div class="row">
                <ul class="nav nav-tabs department_tab" role="tablist">
                    {% for child in profesionales %}
                    <li role="presentation" {% if loop.index == 1 %} class="active" {% endif %} >
                        <a href="#dept{{loop.index}}" aria-controls="dept{{loop.index}}" role="tab" data-toggle="tab">
                            {{ child.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for child in profesionales %}
                    <div role="tabpanel" class="tab-pane {% if loop.index == 1 %} active {% endif %}" id="dept{{loop.index}}">
                        <div class="row m0 about_medicalpro">
                            <div class="row m0 inner" >
                                <div class="col-sm-12 col-md-6 img">
                                    <div class="row">
                                        <img src="{{ child.image }}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 content">
                                    <div class="row">
                                        <h3>{{ child.subtitle }}</h3>
                                        <p>{{ child.content }}</p>
                                        <!-- <a href="/assets/telemedicina/web/about.html" class="view_all">about medicalpro</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="row recent_post_home2">
        <div class="container">
            <div class="row titleRow">
                <h5>Que opina la gente</h5>
                <h2>Testimonios sobre hisalud</h2>
            </div>
            <div class="row">
                {% for testimonio in testimonios %}
                <div class="col-sm-4 recent_post">
                    <div class="row m0 inner">
                        <div class="postText row m0">
                            {{ testimonio.content }}
                        </div>
                        <div class="media authorMeta">
                            <div class="media-left"><img src="{{ testimonio.image }}" alt=""></div>
                            <div class="media-body media-middle">
                                <h5>{{ testimonio.title }}</h5>
                                <div class="row designation">{{ testimonio.subtitle }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="row book_banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-6">
                    <div class="row m0">
                        <h3 class="bannerTitle">REGISTRATE HOY MISMO </h3>
                        <h5>Y DESCUBRE LOS BENEFICIOS DE LA TELESALUD</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="row m0">
                        <a href="https://web.hisalud.com" class="view_all">Regístrate como paciente</a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="row m0">
                        <a href="/login" class="view_all">Regístrate como profesional</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


