{% if not no_breadcrumbs and parents %}
<div class="row">
    <div class="col-12">
        <h1>{{ title or "" }}</h1>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
            <ol class="breadcrumb pt-0">
                {%- set parents = parents[-3:] %}
			    {% for parent in parents %}
                <li class="breadcrumb-item">
                    <a href="{{ url_prefix }}{{ parent.route | abs_url }}">{{ parent.title or parent.label or parent.name or "" }}</a>
                </li>
                {% endfor %}
                <li class="breadcrumb-item active" aria-current="page">{{ title or "" }}</li>
            </ol>
        </nav>
        <div class="separator mb-5"></div>
    </div>
</div>
{% endif %}
